* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }

header {
  width: 100%;
  height: 100px; }
  header .menu {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row; }
    header .menu .logo {
      display: flex;
      height: 100px;
      align-items: center; }
    header .menu nav {
      width: 400px;
      margin-left: 50px; }
      header .menu nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        margin-top: 38px; }
        header .menu nav ul li a {
          text-transform: uppercase;
          color: #333;
          font-size: 14px;
          text-decoration: none;
          font-weight: bold; }
          header .menu nav ul li a:hover {
            color: #39c2d7; }

.banner {
  width: 100%;
  height: 420px;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .banner p {
    color: #fff;
    font-size: 40px;
    width: 350px;
    padding: 5% 0 0 17%; }

.content {
  width: 70%;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .content .news {
    width: 31%;
    height: auto;
    margin: 1%;
    background-color: #cccccc; }
    .content .news:hover {
      background-color: #39c2d7;
      cursor: pointer; }
    .content .news img {
      width: auto;
      height: auto;
      max-width: 97%;
      display: block;
      margin: 2% auto; }
    .content .news h3 {
      color: #333;
      margin: 1% 0 0 2%; }
    .content .news .subtitle {
      color: #333;
      font-weight: 400;
      font-size: 15px;
      margin: 1% 0 5% 2%; }

footer {
  width: 100%;
  height: 50px;
  background-color: #39c2d7;
  display: flex;
  flex-direction: row; }
  footer .footer-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center; }
    footer .footer-container nav {
      height: 100%;
      width: 500px; }
      footer .footer-container nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        padding-top: 15px; }
        footer .footer-container nav ul li a {
          color: #fff;
          font-size: 14px;
          font-weight: bold; }
          footer .footer-container nav ul li a:hover {
            text-decoration: none; }
    footer .footer-container p {
      color: #fff; }

@media (max-width: 899px) {
  header {
    height: 137px; }
    header .menu {
      flex-direction: column;
      margin: 0 auto;
      width: 400px; }
      header .menu .logo {
        margin: 0 auto; }
      header .menu nav {
        margin: 0 auto; }
        header .menu nav ul {
          margin-top: 0; }

  .banner {
    height: 483px; }
    .banner p {
      font-size: 26px;
      width: 560px;
      margin: 0 auto;
      text-align: center;
      padding: 4% 0 0 0; }

  .content {
    width: 98%; }
    .content .news {
      width: 48%; }

  footer {
    height: 100px; }
    footer .footer-container {
      flex-direction: column; }
      footer .footer-container nav {
        height: 50px;
        padding-top: 2%; } }
@media (max-width: 574px) {
  header {
    height: 220px; }
    header .menu {
      width: 100%;
      height: 100%; }
      header .menu .logo {
        height: 50px;
        width: 100%; }
        header .menu .logo img {
          width: 75px;
          display: block;
          margin: 0 auto; }
      header .menu nav {
        width: 100%;
        height: 170px; }
        header .menu nav ul {
          flex-direction: column;
          height: 100%; }
          header .menu nav ul li {
            padding: 2% 0 0 7%;
            border-top: 1px solid lightgray;
            background-color: #eeeeee;
            height: 100%; }
            header .menu nav ul li a {
              font-size: 15px; }

  .banner {
    height: 360px; }
    .banner p {
      text-align: start;
      font-size: 23px;
      width: 400px;
      background-color: #39c2d7;
      padding: 2%;
      position: relative;
      top: 70%; }

  .content .news {
    width: 350px; }

  footer {
    height: 150px; }
    footer .footer-container nav {
      width: 200px;
      padding-top: 10%; }
      footer .footer-container nav ul {
        flex-direction: column;
        text-align: center;
        padding-top: 0; }
    footer .footer-container p {
      padding-top: 6%; } }