$bodyColor:rgba(198, 238, 252, 0.53);
$bodyTextColor: #fadcba;
$bodyContentColor: #3b3b3b;
$hColor: #fccd10;
$textColor: #ffffff;

//brief
$bWidth: 930px;
$bPadding: 15px;
$bMargin: 4px 15px 30px 0;
$bBgColor: #fff178;
$bHeight: 20px;
$bFloat:left;

//img
$borderedColor: #fccd10;

//a
$linkColor:#f5c70f;

//table
$tdBorderColor:#e0e0e0;
$tableThColor: #94a34e;
$textInsideTable: #e0e0e0;
$trTableColor: #677d01;
$captionColor: #000000;

//button
$buttonBorderColor:#f5c70f;
$buttonTextColor:#f5c70f;

//labelText
$labelText:#f5c70f;
