$bodyColor: #dcbb9a;
$bodyTextColor: #fadcba;
$bodyContentColor: #ffffff;
$hColor: #893c00;
$textColor: #000000;

//brief
$bWidth: 390px;
$bPadding: 15px;
$bMargin: 4px 15px 0 0;
$bHeight: 60px;
$bFloat:left;

//img
$borderedColor: #893c00;

//a
$linkColor:#3d70a1;

//table
$tdBorderColor:#e0e0e0;
$trTableColor: #ffffff;
$captionColor: #000000;
$tableThColor: #e0e0e0;
$textInsideTable: #e0e0e0;

//button
$buttonBorderColor:#3d70a1;
$buttonTextColor:#3d70a1;

//labelText
$labelText:#808080;
